.landing_content{
    padding: 30px;
    padding-top: 50px;
}
.landing_content h1 {
    font-size: 30px;
    text-align: left;
}
.landing_content p {
    font-size: 18px;
    width: 100%;
    text-align: left;
    line-height: 28px;
}
.landing_content #more {
    width: 200px;
    text-align: center;
}